{% load i18n %}
{% load static %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>{% trans "About" %}</h2>
			<p>{% trans "Hard-working web developer with a flair for creating elegant solutions in the least amount of time. Developed customs web portal, number of webapps/scripts, customer web portal, telegram bots and automatic reports solutions. Passionate about software architecture and open data services. Regular attendee of web developer meetups and hackathons." %}</p>
		</div>

		<div class="row">
			<div class="col-lg-5">
				<img src="{% static 'img/profile-img.png' %}" class="img-fluid" alt="">
			</div>
			<div class="col-lg-7 pt-4 pt-lg-0 content">
				<h3>{% trans "Full-Stack Web Developer" %} &amp; {% trans "UI/UX Designer" %}</h3>
				<p class="fst-italic">
					{% trans "Development of web and desktop applications of varying complexity, content and implementation options, including those for working and administering databases, using modern frameworks, libraries and database management systems." %}
				</p>
				<div class="row">
					<div class="col-lg-6">
						<ul>
							<li><i class="bi bi-chevron-right"></i> <strong>{% trans "Birthday" %}:</strong> <span>20 October 1980</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>{% trans "Website" %}:</strong> <span><a href="www.omorev.pp.ua">www.omorev.pp.ua</a></span</li>
							<li><i class="bi bi-chevron-right"></i> <strong>{% trans "Phone" %}:</strong> <span><a href="tel:+380672700861">+38 (067) 270 08 61</a></span</li>
							<li><i class="bi bi-chevron-right"></i> <strong>{% trans "City" %}:</strong> <span>{% trans "Bucha, Ukraine" %}</span></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul>
							<li><i class="bi bi-chevron-right"></i> <strong>{% trans "Degree" %}:</strong> <span>{% trans "Master" %}</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>{% trans "Email" %}:</strong> <span><a href="mailto:contact@omorev.pp.ua">contact@omorev.pp.ua</a></span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>{% trans "Freelance" %}:</strong> <span>{% trans "Available" %}</span></li>
							<li>
								<i class="bi bi-chevron-right"></i> 
								<strong>{% trans "Visits" %}:</strong> 
								<span>
									<div id="sfcxmqaf9aybqu24aa95ybkfyya6g2xq1qx"></div>
									<script type="text/javascript" src="https://counter9.stat.ovh/private/counter.js?c=xmqaf9aybqu24aa95ybkfyya6g2xq1qx&down=async" async></script>
									<noscript><a href="https://www.freecounterstat.com" title="free web counter html"><img src="https://counter9.stat.ovh/private/freecounterstat.php?c=xmqaf9aybqu24aa95ybkfyya6g2xq1qx" border="0" title="free web counter html" alt="free web counter html"></a></noscript>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<p>
					{% trans "Experienced Web Developer with a proven history of working in the computer software industry. Skilled in Python, Django Framework, html5, javascript, jquery, telegram bot development, data analysis, web scraping, API and SQL. Strong and focused engineering professional completed Certification requirements and recognized as a Certified Associate in Python." %}
				</p>
			</div>
		</div>

	</div>
</section><!-- End About Section -->