{% load i18n %}
{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
	<div class="container" data-aos="zoom-in" data-aos-delay="100">
		<div>
			<img src="{% static 'img/logo_invert.png' %}" class="img-fluid" alt="">
		</div>
		<p>I'm <span class="typed" data-typed-items="Full-Stack Developer, Creative Designer, Freelancer"></span></p>
		<div class="social-links">
			<a href="mailto:contact@omorev.pp.ua" class="twitter"><i class="bx bx-mail-send"></i></a>
			{% comment %} <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> {% endcomment %}
			<a href="https://t.me/morevag" class="facebook"><i class="bx bxl-telegram"></i></a>
			<a href="https://join.skype.com/invite/EDMiZcEvRbxn" class="facebook"><i class="bx bxl-skype"></i></a>
			<a href="https://www.facebook.com/agmorev/" class="facebook"><i class="bx bxl-facebook"></i></a>
			{% comment %} <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> {% endcomment %}
			{% comment %} <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> {% endcomment %}
			<a href="https://www.linkedin.com/in/aleksey-morev-168589241/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
		</div>
	</div>
</section><!-- End Hero -->