{% load i18n %}
{% load static %}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>{% trans "Resume" %}</h2>
            <p>{% trans "Software developer specializes in creating, implementing and maintaining software and databases. Here are my educational and professional background:" %}</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">{% trans "Sumary" %}</h3>
                <div class="resume-item pb-0">
                    <h4>{% trans "Oleksii Morev" %}</h4>
                    <p><em>{% trans "Proficient in various platforms, languages, and embedded systems. Experienced with cutting-edge development tools and procedures. Able to effectively self-manage during independent projects, as well as collaborate as part of a productive team." %}</em></p>
                    <ul>
                        <li>{% trans "Bucha, 08292 Ukraine" %}</li>
                        <li><a href="tel:+380672700861">+38 (067) 270 08 61</a></li>
                        <li><a href="mailto:office@omorev.pp.ua">office@omorev.pp.ua</a></li>
                    </ul>
                </div>

                <h3 class="resume-title">{% trans "Education" %}</h3>
                <div class="resume-item">
                    <h4>{% trans "Specialization <Python 3 Programming>. Faculty: Computer Science" %}</h4>
                    <h5>Oct 2021 - Mar 2022</h5>
                    <p><em>University of Michigan, USA</em></p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Developing Applications; SQL, Databases and Django" %}</h4>
                    <h5>Apr 2021 - May 2021</h5>
                    <p><em>IBM, USA</em></p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Associate's degree, Python, Django, CSS; HTML, JS" %}</h4>
                    <h5>Jun 2020 - Oct 2020</h5>
                    <p><em>Main Academy, Kyiv</em></p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Python and Django Full Stack Web; Developer Bootcamp" %}</h4>
                    <h5>Aug 2019 - Dec 2019</h5>
                    <p><em>UDEMY, instructor: Jose Portilla</em></p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Masters Degree in International Law" %}</h4>
                    <h5>Sep 2005 - Jan 2008</h5>
                    <p><em>Ukrainian State University of Finance and International Trade, Kyiv</em></p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Masters Degree in Economy" %}</h4>
                    <h5>Sep 1997 - Jun 2002</h5>
                    <p><em>Academy of Customs Service of Ukraine, Dnipro</em></p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">{% trans "Professional Experience" %}</h3>
                <div class="resume-item">
                    <h4>{% trans "Python Developer" %}</h4>
                    <h5>2022 - Present</h5>
                    <p><em>QUALITY AREA LIMITED, Malta</em></p>
                    <p><em>LINK DIGITAL, Australia</em></p>
                    <ul>
                        <li>{% trans "Development of the world's leading Open Source data portal platform CKAN" %}</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Deputy Head" %}</h4>
                    <h5>2020 - 2022</h5>
                    <p><em>PENTADA TRANS FP, Kyiv, Ukraine</em></p>
                    <ul>
                        <li>{% trans "Full stack online client office using Django Framework and using MySQL, Pandas, Javascript and jQuery, HTML, Bootstrap, CSS" %}</li>
                        <li>{% trans "Developed a large number of python scripts, including using web-scraping technologies, working with third-party databases, including through the API in order to optimize, simplify and speed up a number of processes and procedures in company interaction with customers, customs authorities and automatical ensure the company's management with real time analytics and statistics" %}</li>
                        <li>{% trans "Developed a powerful comprehensive multi-level Telegram bot (aiogram library), aimed at comfortable interaction with the client, providing him with the necessary current information from third-party resources, various calculators in the customs sphere, database data, reporting on work, access to additional functionality in personal office in the bot, interaction with corporate chats" %}</li>
                        <li>{% trans "Startup to develop a web portal for interaction of individuals and legal entities with customs authorities" %}</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Customs Officer" %}</h4>
                    <h5>2002 - 2020</h5>
                    <p><em>STATE CUSTOMS SERVICE OF UKRAINE</em></p>
                    <ul>
                        <li>{% trans "Worked on different positions: inspector, deputy head of customs offices, head of department in the central office. Main duties: all kind of works (control, enforcement, risks analyzing, payments, legislation, etc.) concerning customs control and customs clearance of goods" %}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->